/*  your css code here. If applicable */
#grid {
	display: grid;
	grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
	grid-template-rows: 124px 124px 124px 124px 124px;
	grid-gap: 10px 10px;
}

#grid div {
	background-color: green;
	padding: 30px;
	color: white;
}

#box1 {
  grid-column: span 4 / auto;
}


#box4 {
  grid-column: span 2 / auto;
}


#box5 {
  grid-column: span 2 / auto;
}


#box10 {
  grid-column: span 3 / auto;
}


#box2 {
  grid-row: span 4 / auto;
}


