/*  your css code here. If applicable */
#grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px 5px;
}

#grid div {
	background-color: green;
	padding: 30px;
	color: white;
}

#box1 {
	grid-column-start: 1;
	grid-column-end: 5
}

#box4 {
	grid-column-start: 3;
	grid-column-end: 5
}

#box5 {
	grid-column-start: 2;
	grid-column-end: 4;
}

#box10 {
	grid-column-start: 2;
	grid-column-end: 5;
}

#box2 {
	grid-row-start: 2;
	grid-row-end: 6;
}

