/*  your css code here. If applicable */
#grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 124px 124px 124px 124px 124px;
	gap: 5px 5px;
}

#grid div {
	background-color: green;
	padding: 30px;
	color: white;
}

#box1 {
	grid-column: 1 / span 4;
}

#box4 {
	grid-column: 3 / span 2;
}

#box5 {
	grid-column: 2 / span 2;
}

#box10 {
	grid-column: 2 / span 3
}

#box2 {
	grid-row: 2 / span 4;
}

